header {
  background-color: rgb(242, 237, 238);
  color: rgb(246, 24, 24);
  border: 5px solid blue;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

ul {
  list-style-type: disc;
  margin: 10rem;
}

p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 60px;
}

h3 {
  font-size: 40px;
  text-decoration: underline;
  margin-top: 100px;
  
}

body {
  margin: 40px;
  background-color: rgb(188, 231, 188);
  
}

main {
  border-color: solid black;
  border-width: 80px;
  margin: 40px;
  
}

footer {
  text-align: center;
  font-size: larger;
  margin-top: 100px;
  background-color: rgb(250, 245, 245);
}
